apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mail-dns-secrets
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-backend
    kind: ClusterSecretStore
  target:
    name: mail-dns-secrets
    creationPolicy: Owner
  data:
    - secretKey: zone-id
      remoteRef:
        key: infra-cloudflare-zone-id-peekoff
    - secretKey: dkim-ed25519
      remoteRef:
        key: app-stalwart-dkim-ed25519
    - secretKey: dkim-rsa
      remoteRef:
        key: app-stalwart-dkim-rsa
    - secretKey: mta-sts-policy-id
      remoteRef:
        key: app-stalwart-mta-sts-policy-id
    - secretKey: tlsa-cert-hash
      remoteRef:
        key: app-stalwart-tlsa-cert-hash
