apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - http-route.yaml
  - http-route-api.yaml
  - argocd-tls.yaml
  - rolebinding.yaml
  - role.yaml
  - vpa-controller.yaml
  - vpa-repo-server.yaml
  - vpa-server.yaml
  - vpa-applicationset.yaml
  - resource-quota.yaml
  - externalsecret-oidc.yaml
  
helmCharts:
- name: argo-cd
  namespace: argocd
  releaseName: argocd
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
  version: 9.1.2
