apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: crossplane-system

resources:
  - namespace.yaml
  - resource-quota.yaml
  - crds/
  - providers/
  - configs/
  - functions/
  - compositions/

helmCharts:
  - name: crossplane
    repo: https://charts.crossplane.io/stable
    version: 2.1.3
    releaseName: crossplane
    namespace: crossplane-system
    valuesFile: values.yaml
