---
# YAML anchors for DRY
---
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: maildns-cloudflare
spec:
  resources:
    # A Records
    - name: dns-a-mail
      base:
        apiVersion: dns.cloudflare.upbound.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            proxied: false
            ttl: 300
            type: A
            name: mail

            # DNS record resources only (YAML array, no Composition kind)
            # This file should be merged into the base Composition's resources array via overlays/prod/kustomization.yaml

            - name: dns-a-mail
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: A
                    name: mail
                    proxied: false
                    ttl: 300
                    comment: "Stalwart mail server"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv4
                  toFieldPath: spec.forProvider.content
            - name: dns-a-smtp
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: A
                    name: smtp
                    proxied: false
                    ttl: 300
                    comment: "Stalwart SMTP"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv4
                  toFieldPath: spec.forProvider.content
            - name: dns-a-imap
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: A
                    name: imap
                    proxied: false
                    ttl: 300
                    comment: "Stalwart IMAP"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv4
                  toFieldPath: spec.forProvider.content
            - name: dns-aaaa-mail
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: AAAA
                    name: mail
                    proxied: false
                    ttl: 300
                    comment: "Stalwart mail server IPv6"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv6
                  toFieldPath: spec.forProvider.content
            - name: dns-aaaa-smtp
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: AAAA
                    name: smtp
                    proxied: false
                    ttl: 300
                    comment: "Stalwart SMTP IPv6"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv6
                  toFieldPath: spec.forProvider.content
            - name: dns-aaaa-imap
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: AAAA
                    name: imap
                    proxied: false
                    ttl: 300
                    comment: "Stalwart IMAP IPv6"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: status.loadBalancerIPv6
                  toFieldPath: spec.forProvider.content
            - name: dns-txt-dkim
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: TXT
                    name: ""
                    proxied: false
                    ttl: 300
                    comment: "DKIM RSA key"
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: spec.dkimRsaSelector
                  toFieldPath: spec.forProvider.name
                  transforms:
                    - type: string
                      string:
                        type: Format
                        fmt: "%s._domainkey"
            - name: dns-txt-mta-sts
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: TXT
                    name: _mta-sts
                    content: "v=STSv1; id=16561011793845132961"
                    comment: "MTA-STS policy"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-txt-tls-rpt
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: TXT
                    name: _smtp._tls
                    content: "v=TLSRPTv1; rua=mailto:postmaster@peekoff.com"
                    comment: "TLS reporting"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-cname-mta-sts
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: CNAME
                    name: mta-sts
                    comment: "MTA-STS CNAME"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: spec.mailHostname
                  toFieldPath: spec.forProvider.content
            - name: dns-cname-autoconfig
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: CNAME
                    name: autoconfig
                    comment: "Autoconfiguration CNAME"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: spec.mailHostname
                  toFieldPath: spec.forProvider.content
            - name: dns-cname-autodiscover
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: CNAME
                    name: autodiscover
                    comment: "Autodiscover CNAME"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
              patches:
                - type: FromCompositeFieldPath
                  fromFieldPath: spec.mailHostname
                  toFieldPath: spec.forProvider.content
            - name: dns-srv-imap
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: SRV
                    name: _imap._tcp
                    content: "0 1 143 mail.peekoff.com"
                    comment: "IMAP SRV record"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-srv-imaps
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: SRV
                    name: _imaps._tcp
                    content: "0 1 993 mail.peekoff.com"
                    comment: "IMAPS SRV record"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-srv-submission
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: SRV
                    name: _submission._tcp
                    content: "0 1 587 mail.peekoff.com"
                    comment: "SMTP submission SRV record"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-srv-submissions
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: SRV
                    name: _submissions._tcp
                    content: "0 1 465 mail.peekoff.com"
                    comment: "SMTP submissions SRV record"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
            - name: dns-tlsa-25-tcp
              base:
                apiVersion: dns.cloudflare.upbound.io/v1alpha1
                kind: Record
                spec:
                  forProvider:
                    type: TLSA
                    name: _25._tcp.mail
                    content: "3 0 1 064dbc632f1ba7d0a2a3faeadeedfebd6f90f850dfb852c97ee9df9b6e5c5e7c"
                    comment: "TLSA record for port 25"
                    proxied: false
                    ttl: 300
                  providerConfigRef:
                    name: default
              - name: dns-txt-dkim
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: TXT
                      name: ""
                      proxied: false
                      ttl: 300
                      comment: "DKIM RSA key"
                    providerConfigRef:
                      name: default
                patches:
                  - type: FromCompositeFieldPath
                    fromFieldPath: spec.dkimRsaSelector
                    toFieldPath: spec.forProvider.name
                    transforms:
                      - type: string
                        string:
                          type: Format
                          fmt: "%s._domainkey"
              # TXT Records - MTA-STS
              - name: dns-txt-mta-sts
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: TXT
                      name: _mta-sts
                      content: "v=STSv1; id=16561011793845132961"
                      comment: "MTA-STS policy"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              # TXT Records - TLS Reporting
              - name: dns-txt-tls-rpt
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: TXT
                      name: _smtp._tls
                      content: "v=TLSRPTv1; rua=mailto:postmaster@peekoff.com"
                      comment: "TLS reporting"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              # CNAME Records
              - name: dns-cname-mta-sts
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: CNAME
                      name: mta-sts
                      comment: "MTA-STS CNAME"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
                patches:
                  - type: FromCompositeFieldPath
                    fromFieldPath: spec.mailHostname
                    toFieldPath: spec.forProvider.content
              - name: dns-cname-autoconfig
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: CNAME
                      name: autoconfig
                      comment: "Autoconfiguration CNAME"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
                patches:
                  - type: FromCompositeFieldPath
                    fromFieldPath: spec.mailHostname
                    toFieldPath: spec.forProvider.content
              - name: dns-cname-autodiscover
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: CNAME
                      name: autodiscover
                      comment: "Autodiscover CNAME"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
                patches:
                  - type: FromCompositeFieldPath
                    fromFieldPath: spec.mailHostname
                    toFieldPath: spec.forProvider.content
              # SRV Records
              - name: dns-srv-imap
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: SRV
                      name: _imap._tcp
                      content: "0 1 143 mail.peekoff.com"
                      comment: "IMAP SRV record"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              - name: dns-srv-imaps
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: SRV
                      name: _imaps._tcp
                      content: "0 1 993 mail.peekoff.com"
                      comment: "IMAPS SRV record"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              - name: dns-srv-submission
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: SRV
                      name: _submission._tcp
                      content: "0 1 587 mail.peekoff.com"
                      comment: "SMTP submission SRV record"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              - name: dns-srv-submissions
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: SRV
                      name: _submissions._tcp
                      content: "0 1 465 mail.peekoff.com"
                      comment: "SMTP submissions SRV record"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
              # TLSA Record
              - name: dns-tlsa-25-tcp
                base:
                  apiVersion: dns.cloudflare.upbound.io/v1alpha1
                  kind: Record
                  spec:
                    forProvider:
                      type: TLSA
                      name: _25._tcp.mail
                      content: "3 0 1 064dbc632f1ba7d0a2a3faeadeedfebd6f90f850dfb852c97ee9df9b6e5c5e7c"
                      comment: "TLSA record for port 25"
                      proxied: false
                      ttl: 300
                    providerConfigRef:
                      name: default
