apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: maildns-custom
  labels:
    provider: custom
spec:
  mode: Pipeline
  compositeTypeRef:
    apiVersion: dns.goingdark.social/v1alpha1
    kind: XMailDNS
  pipeline:
    - step: render-dns
      functionRef:
        name: function-go-templating
      credentials:
        - source: Secret
          secretRef:
            name: mail-dns-secrets
            namespace: crossplane-system
      requirements:
        requiredResources:
          - selector:
              name: mail-dns-secrets
      input:
        apiVersion: gotemplating.fn.crossplane.io/v1beta1
        kind: GoTemplate
        source: Inline
        inline:
          template: |
            ---
            {{- $claimName := .observed.composite.resource.metadata.name -}}
            {{- $domain := .observed.composite.resource.spec.domain -}}
            {{- $mailHostname := .observed.composite.resource.spec.mailHostname -}}
            {{- $ipv4 := .observed.composite.resource.spec.ipv4 -}}
            {{- $ipv6 := .observed.composite.resource.spec.ipv6 -}}
            {{- $dkimEd25519Selector := .observed.composite.resource.spec.dkimEd25519Selector | default "202404e" -}}
            {{- $dkimRsaSelector := .observed.composite.resource.spec.dkimRsaSelector | default "202404r" -}}
            {{- $dkimEd25519Key := index .context "dkim-ed25519" -}}
            {{- $dkimRsaKey := index .context "dkim-rsa" -}}
            
            # A record for mail
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-mail
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-a-mail
            spec:
              forProvider:
                type: A
                name: mail
                content: {{ $ipv4 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # A record for smtp
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-smtp
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-a-smtp
            spec:
              forProvider:
                type: A
                name: smtp
                content: {{ $ipv4 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # A record for imap
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-imap
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-a-imap
            spec:
              forProvider:
                type: A
                name: imap
                content: {{ $ipv4 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            
            {{- if $ipv6 }}
            ---
            # AAAA record for mail (optional)
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-mail-aaaa
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-aaaa-mail
            spec:
              forProvider:
                type: AAAA
                name: mail
                content: {{ $ipv6 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # AAAA record for smtp (optional)
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-smtp-aaaa
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-aaaa-smtp
            spec:
              forProvider:
                type: AAAA
                name: smtp
                content: {{ $ipv6 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # AAAA record for imap (optional)
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-imap-aaaa
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-aaaa-imap
            spec:
              forProvider:
                type: AAAA
                name: imap
                content: {{ $ipv6 }}
                zone: {{ $domain }}
                proxied: false
                ttl: 300
              providerConfigRef:
                name: default
            {{- end }}
            
            ---
            # MX record
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-mx
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-mx
            spec:
              forProvider:
                type: MX
                name: "@"
                content: {{ $mailHostname }}
                priority: 10
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # SPF TXT record
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-spf
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-spf
            spec:
              forProvider:
                type: TXT
                name: "@"
                content: "v=spf1 mx ra=postmaster -all"
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # DKIM Ed25519 TXT record
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-dkim-ed25519
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-dkim-ed25519
            spec:
              forProvider:
                type: TXT
                name: {{ $dkimEd25519Selector }}._domainkey
                content: v=DKIM1; k=ed25519; p={{ $dkimEd25519Key }}
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # DKIM RSA TXT record
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-dkim-rsa
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-dkim-rsa
            spec:
              forProvider:
                type: TXT
                name: {{ $dkimRsaSelector }}._domainkey
                content: v=DKIM1; k=rsa; p={{ $dkimRsaKey }}
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # DMARC TXT record
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-dmarc
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-dmarc
            spec:
              forProvider:
                type: TXT
                name: _dmarc
                content: v=DMARC1; p=reject; rua=mailto:postmaster@{{ $domain }}
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
            
            ---
            # CNAME for autoconfig
            apiVersion: dns.cloudflare.crossplane.io/v1alpha1
            kind: Record
            metadata:
              name: {{ $claimName }}-autoconfig
              annotations:
                gotemplating.fn.crossplane.io/composition-resource-name: dns-cname-autoconfig
            spec:
              forProvider:
                type: CNAME
                name: autoconfig
                content: {{ $mailHostname }}
                zone: {{ $domain }}
                ttl: 300
              providerConfigRef:
                name: default
