apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: maildns-custom
  annotations:
    argocd.argoproj.io/sync-wave: "30"
  labels:
    provider: custom
spec:
  compositeTypeRef:
    apiVersion: dns.goingdark.social/v1alpha1
    kind: XMailDNS
  resources:
    # 1. Observe Hetzner LoadBalancer to get IPs
    - name: hcloud-lb
      base:
        apiVersion: loadbalancer.hcloud.crossplane.io/v1alpha1
        kind: LoadBalancer
        spec:
          managementPolicy: Observe
          forProvider:
            loadBalancerType: lb11
            location: hel1
            name: "observed-lb"
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.hcloudLoadBalancerId
          toFieldPath: metadata.annotations[crossplane.io/external-name]
        - type: ToCompositeFieldPath
          fromFieldPath: status.atProvider.ipv4
          toFieldPath: status.loadBalancerIPv4
        - type: ToCompositeFieldPath
          fromFieldPath: status.atProvider.ipv6
          toFieldPath: status.loadBalancerIPv6

    # 2. Cloudflare A Records (mail, smtp, imap)
    - name: dns-a-mail
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: A
            name: mail
            proxied: false
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: status.loadBalancerIPv4
          toFieldPath: spec.forProvider.content
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone

    - name: dns-a-smtp
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: A
            name: smtp
            proxied: false
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: status.loadBalancerIPv4
          toFieldPath: spec.forProvider.content
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone

    - name: dns-a-imap
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: A
            name: imap
            proxied: false
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: status.loadBalancerIPv4
          toFieldPath: spec.forProvider.content
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone

    # 3. MX, SPF, DKIM, DMARC, CNAME
    - name: dns-mx
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: MX
            name: "@"
            priority: 10
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.mailHostname
          toFieldPath: spec.forProvider.content
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone

    - name: dns-spf
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: TXT
            name: "@"
            content: "v=spf1 mx ra=postmaster -all"
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone

    - name: dns-dkim-ed25519
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: TXT
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.dkimEd25519Selector
          toFieldPath: spec.forProvider.name
          transforms:
            - type: string
              string:
                fmt: "%s._domainkey"
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.content
          transforms:
            - type: string
              string:
                fmt: "v=DKIM1; k=ed25519; p=REPLACE_WITH_REAL_KEY_IN_VAULT"

    - name: dns-dmarc
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: TXT
            name: "_dmarc"
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.content
          transforms:
            - type: string
              string:
                fmt: "v=DMARC1; p=reject; rua=mailto:postmaster@%s"

    - name: dns-cname-autoconfig
      base:
        apiVersion: dns.cloudflare.crossplane.io/v1alpha1
        kind: Record
        spec:
          forProvider:
            type: CNAME
            name: autoconfig
            ttl: 300
          providerConfigRef:
            name: default
      patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.domain
          toFieldPath: spec.forProvider.zone
        - type: FromCompositeFieldPath
          fromFieldPath: spec.mailHostname
          toFieldPath: spec.forProvider.content
