apiVersion: v1
kind: Service
metadata:
  name: stalwart-mail
  namespace: stalwart
  labels:
    app.kubernetes.io/name: stalwart
spec:
  type: LoadBalancer
  loadBalancerClass: io.cilium/l2-announcer
  loadBalancerIP: 95.216.181.4
  externalTrafficPolicy: Local
  ipFamilyPolicy: SingleStack
  selector:
    app.kubernetes.io/name: stalwart
    app.kubernetes.io/instance: stalwart
  ports:
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
    - name: smtp
      port: 25
      targetPort: 25
      protocol: TCP
    - name: submission
      port: 587
      targetPort: 587
      protocol: TCP
    - name: smtps
      port: 465
      targetPort: 465
      protocol: TCP
    - name: imap
      port: 143
      targetPort: 143
      protocol: TCP
    - name: imaps
      port: 993
      targetPort: 993
      protocol: TCP
    - name: pop3
      port: 110
      targetPort: 110
      protocol: TCP
    - name: pop3s
      port: 995
      targetPort: 995
      protocol: TCP
    - name: sieve
      port: 4190
      targetPort: 4190
      protocol: TCP
