apiVersion: hcloud.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  credentials:
    source: Secret
    secretRef:
      name: hcloud-credentials
      namespace: crossplane-system
      key: api-token
