apiVersion: v1
kind: ConfigMap
metadata:
  name: descheduler-policy-configmap
  namespace: kube-system
data:
  policy.yaml: |
    apiVersion: descheduler/v1alpha2
    kind: DeschedulerPolicy
    profiles:
      - name: default
        pluginConfig:
          - name: LowNodeUtilization
            args:
              useDeviationThresholds: true
              thresholds:
                cpu: 40
                memory: 40
                pods: 40
              targetThresholds:
                cpu: 75
                memory: 75
                pods: 75
              evictableNamespaces:
                exclude:
                  - kube-system
        plugins:
          deschedule:
            enabled:
              - RemovePodsViolatingInterPodAntiAffinity
              - RemovePodsViolatingNodeAffinity
              - RemovePodsViolatingNodeTaints
              - RemovePodsViolatingPodTopologySpread
          balance:
            enabled:
              - LowNodeUtilization
              - RemoveDuplicates
