apiVersion: v1
kind: Service
metadata:
  name: mastodon-web
  labels:
    app: mastodon-web
    component: web
spec:
  type: ClusterIP
  selector:
    app: mastodon-web
  ports:
    - name: http
      port: 3000
      targetPort: 3000
    - name: metrics
      port: 9394
      targetPort: 9394
