apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mastodon-app-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-backend
  data:
    - secretKey: LOCAL_DOMAIN
      remoteRef:
        key: app-mastodon-dev-domain
    - secretKey: SECRET_KEY_BASE
      remoteRef:
        key: app-mastodon-dev-secret-key-base
    - secretKey: OTP_SECRET
      remoteRef:
        key: app-mastodon-dev-otp-secret
    - secretKey: VAPID_PRIVATE_KEY
      remoteRef:
        key: app-mastodon-dev-vapid-private
    - secretKey: VAPID_PUBLIC_KEY
      remoteRef:
        key: app-mastodon-dev-vapid-public
    - secretKey: ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
      remoteRef:
        key: app-mastodon-dev-ar-primary
    - secretKey: ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
      remoteRef:
        key: app-mastodon-dev-ar-deterministic
    - secretKey: ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT
      remoteRef:
        key: app-mastodon-dev-ar-salt
    - secretKey: SMTP_SERVER
      remoteRef:
        key: app-mastodon-dev-smtp-server
    - secretKey: SMTP_PORT
      remoteRef:
        key: app-mastodon-dev-smtp-port
    - secretKey: SMTP_LOGIN
      remoteRef:
        key: app-mastodon-dev-smtp-login
    - secretKey: SMTP_PASSWORD
      remoteRef:
        key: app-mastodon-dev-smtp-password
    - secretKey: SMTP_FROM_ADDRESS
      remoteRef:
        key: app-mastodon-dev-smtp-from-address
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: app-mastodon-dev-s3-access-key
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: app-mastodon-dev-s3-secret-key
    - secretKey: S3_ENDPOINT
      remoteRef:
        key: app-mastodon-dev-s3-endpoint-url
    - secretKey: HCAPTCHA_SITE_KEY
      remoteRef:
        key: app-mastodon-dev-hcaptcha-site-key
    - secretKey: HCAPTCHA_SECRET_KEY
      remoteRef:
        key: app-mastodon-dev-hcaptcha-secret-key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mastodon-onion-keys
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-backend
  data:
    - secretKey: hostname
      remoteRef:
        key: app-mastodon-dev-onion-hostname
    - secretKey: hs_ed25519_public_key
      remoteRef:
        key: app-mastodon-dev-onion-public-key
    - secretKey: hs_ed25519_secret_key
      remoteRef:
        key: app-mastodon-dev-onion-secret-key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mastodon-walg-s3
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-backend
  data:
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: app-mastovault-dev-s3-access-key
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: app-mastovault-dev-s3-secret-key
    - secretKey: AWS_ENDPOINT
      remoteRef:
        key: app-mastovault-dev-s3-endpoint-url
    - secretKey: WAL_S3_BUCKET
      remoteRef:
        key: app-mastovault-dev-backup-bucket
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: s3-endpoint-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-backend
  data:
    - secretKey: AWS_ENDPOINT
      remoteRef:
        key: app-mastovault-dev-s3-endpoint-url
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mastodon-app-pgbouncer-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-backend
  data:
    - secretKey: adminPasswordKey
      remoteRef:
        key: app-mastodon-dev-pgbouncer-admin-password
---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: cnpg-k8s-store
spec:
  provider:
    kubernetes:
      remoteNamespace: mastodon-dev
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mastodon-elastic-server
spec:
  commonName: mastodon-elastic.mastodon-dev.svc
  dnsNames:
    - mastodon-elastic.mastodon-dev.svc
    - mastodon-elastic
    - mastodon-elastic.mastodon-dev.svc.cluster.local
    - mastodon-elastic-pooler
    - mastodon-elastic-pooler.mastodon-dev.svc
    - elasticsearch-master
    - elasticsearch-master.mastodon-dev.svc
    - elasticsearch-master.mastodon-dev.svc.cluster.local
    - elasticsearch-es-http
    - elasticsearch-es-http.mastodon-dev.svc
    - elasticsearch-es-http.mastodon-dev.svc.cluster.local
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mastodon-elastic-ca
spec:
  secretName: mastodon-elastic-ca
