apiVersion: v1
kind: ResourceQuota
metadata:
  name: crossplane-system
  namespace: crossplane-system
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 4Gi
    limits.cpu: "4"
    limits.memory: 8Gi
    persistentvolumeclaims: "10"
