apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mastodon

resources:
  - ../../base
  - namespace.yaml

patches:
  - path: patches/hpa-replicas.yaml
  - path: patches/resources.yaml
