# Production Redis resource specifications
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mastodon-redis-master
spec:
  template:
    spec:
      containers:
        - name: redis
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
